*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: black;
}
     
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 17px;
    transform: translate(-50%,-50%);
    background: red;
    box-shadow: -8px -8px 15px rgba(113,115,119,0.5);
}

.result{
  background-color: whitesmoke;
  color: black;
  border-radius: 17px;
  padding: 10px;
  font-size: 15px;

}

.buttons{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1px;
}

.row{
    display: flex;
    justify-content: space-around;
    gap: 1px;
}

.row button{
   width: 68px;
  height: 68px;
  border-radius: 50%;
  box-shadow: -8px -8px 15px;
  outline: none;
  border: none;
  font-size: 15px;
  text-align: center;
  transition: 0.2s all linear;
}

.row button:hover{
    background-color: whitesmoke;
}

.row button:active{
    background-color: red;
}

#equal{
    width: 150px;
}

#dot{
    font-weight: 600;
}